<div class="container pt-4">
    <div class="row">
        <div class="col-md-9">
            <h5><b>Employee List</b></h5>
        </div>

        <div class="col-md-3 createbtn">
            <button class="btn btn-small btn-info" (click)="onCreate()"><i class="fa fa-user-plus"></i> Add
                Employee</button>
        </div>
    </div>
</div>
<button *ngIf="deleteAllbtn" (click)="deletMany()">Delete All</button>
<table class="table emp-table table-striped ">
    <thead>
        <tr>
            <th></th>
            <th scope="col">ID</th>
            <th scope="col">Employee Name</th>
            <th scope="col">Employee Salary</th>
            <th scope="col">Employee Age</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody *ngIf="employessLength > 0">
        <tr *ngFor="let employee of employees">

            <td><input class="tbl-checkbox" type="checkbox" [(ngModel)]="employee.isChecked" (change)="checkbox()"></td>
            <td>{{employee.id}}</td>
            <td>{{employee.employee_name}}</td>
            <td>{{employee.employee_salary}}</td>
            <td>{{employee.employee_age}}</td>
            <td>
                <button class="btn btn-detail" [routerLink]="['/employee-lazy-load/view/',employee.id]"><i
                        class="fa fa-eye"></i> View
                    Details</button>
                <button class="btn btn-info" [routerLink]="['/employees/',employee.id]"><i
                        class="fa fa-edit"></i>Edit</button>
                <button class="btn btn-danger " (click)="deleteEmploye(employee.id)"><i class="fa fa-trash"></i>
                    Delete</button>
            </td>
        </tr>
    </tbody>
</table>